@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.ContactCallbackSection)Model.Content;
}

<section class="contact-callback">
	<div class="container">

		<partial name="Partials/Forms/_CallbackForm" />

	</div>
</section>