@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.InfoCard)Model.Content;
}

<div class="info-aside">
    <h5>@content.InfoTitle</h5>
    @if (content.InfoImage != null)
    {
        <img src="@content.InfoImage.Url()"/>
    }
    <p>@content.InfoText</p>
</div>
