@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamSection)Model.Content;
    var teamList = content.TeamMemberList;
}

<section class="team">
    <div class="container">
        <div class="team-header">
            <p class="label">@content.TeamLabel</p>
            
            <div class="team-title">
                @Html.Raw(content.TeamTitle)
            </div>
        </div>
        <div class="team-list">
            @if (teamList != null)
            {
                <div class="row">
                    @for (int i = 0; i < 3; i++)
                    {
                        var member = teamList[i];
                        <partial name="Partials/Blocklist/Components/TeamMember" model="member" />
                    }
                </div>
                <div class="row">
                    @for (int i = 3; i < 7; i++)
                    {
                        var member = teamList[i];
                        <partial name="Partials/Blocklist/Components/TeamMember" model="member" />
                    }
                </div>
            }
        </div>
    </div>
</section>