@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
}

<partial name="Partials/Layout/_PageHeader" model="(IPageHeader)Model" />

<section class="service-detail">
    <div class="container">
        <aside>
            @Html.GetBlockListHtml(Model.ServiceDetailAsides)
        </aside>

        <div class="service">
            <div class="vl"></div>

            <div class="content">
                @Html.Raw(Model.ServiceDetailBody)
            </div>
        </div>
    </div>
</section>

@Html.GetBlockListHtml(Model.Sections);