/* --- VARIABLES --- */
:root {
    --white-100: #FFFFFF;
    --white-200: #F2EDDC; /* Sub color 1 */
    --white-300: #F7F7F7; /* darker bg */
    --white-400: #EAEAEA; /* service border */

    --beige: #D9C3A9; /* Sub color 3 */

    --gray-100: #EBEBEB; /* form input border */
    --gray-200: #AAAAAA; /* input placeholder */
    --gray-300: #999999; /* review text */
    --gray-400: #9C9EA6; /* Note 1 */
    --gray-500: #606966; /* socials border */
    --gray-600: #535656; /* Body text */
    --gray-700: #4F5955; /* Main color */
    
    --dark-100: #0E0E0E; /* footer bg */
    --dark-200: #2D303A; /* review stars */
    --dark-300: #333333; /* review client & name */

    --text-clr: var(--gray-600);
    --header-clr: var(--gray-700);

    --font-bold: 700;
    --font-semi-bold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;

    --body-font-size: 14px;
    --text-sixe: .875rem; /* 14px */

    --desktop-width: 1024px;
    --tablet-width: 768px;
    --mobile-width: 480px;

    --main-clr: var(--gray-700);
    --section-width: var(--desktop-width);
    
    --debug-border: dashed 1px red;
}

/* MEDIA */


/* --- BASE --- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-clr);
    font-size: var(--text-sixe);
    font-weight: var(--font-regular);
}

/* DEFAULTS */
h1, h2, h3, h4, h5, h6 {
    color: var(--header-clr);
}
h1, h2, h3, h4, h6 {
    font-weight: var(--font-bold);
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 22px;
    font-weight: var(--font-semi-bold);
}
h6 {
    font-size: 18px;
}

a {
    text-decoration: none;
    font-weight: var(--font-medium);
    color: var(--main-clr);
}
a:visited {
    text-decoration: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary {
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-weight: var(--font-bold);
    font-size: 1rem;
    background-color: var(--main-clr);
    color: var(--white-100);
}
.container {
    width: var(--section-width);
    margin: auto;
}
.label {
    font-weight: var(--font-bold);
    color: var(--beige);
}

/* --- Forms --- */
input::placeholder {
    color: var(--gray-400);
    font-style: italic;
}
input, select, textarea, button {
    padding: 1rem;
    border: none;
    border-radius: .25rem;
    font-family: "Poppins", sans-serif;
    appearance: none;
}
input, select, textarea {
    border: 1px solid var(--gray-100);
    width: 100%;
}
input:focus, select:focus, textarea:focus {
    outline: none;
}
.btn-main, .btn-sub {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: var(--font-bold);
    border-radius: .25rem;
}
.btn-main {
    background-color: var(--main-clr);
    color: var(--white-200);
    padding: 1rem 2rem;
}
.btn-sub {
    background-color: var(--white-200);
    color: var(--main-clr);
    padding: 1rem 2rem;
    width: 100%;
}
.input-validation-error {
    border: 1px red solid;
}
.input-validation-error:focus {
    outline:red solid 1px;
}
.field-validation-error {
    color: red;
    font-size: .875rem;
    font-weight: var(--font-medium);
    display: block;
}
.select-group {
    position: relative;
    .icon {
        position: absolute;
        z-index: 100;
        width: 15px;
        height: 15px;
        right: 15px;
        top: 19px;
        text-align: center;
    }
}
.success-message, .error-message {
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    align-self: self-start;
    border-radius: .25rem;
    width: 100%;
    margin-top: 1rem;
}
.success-message {
    color: rgba(0, 128, 0, 0.75);
    background-color: rgba(0, 128, 0, 0.1);
}
.error-message {
    color: rgba(255, 0, 0, 0.75);
    background-color: rgba(128,0 , 0, 0.1);
}

/* --- SECTIONS --- */
.topbar {
    background-color: var(--main-clr);
    color: var(--white-100);
}
.topbar .links a {
    padding: .75rem;
    text-align: center;
    border-left: 1px solid var(--gray-500);
    
}
.topbar .links a:last-child {
    border-right: 1px solid var(--gray-500);
}
.topbar .links i::before {
    color: var(--white-100);
}

nav {
    color: var(--main-clr);
    padding-block: 1rem;
    ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        a {
            font-weight: bold;
            padding: 1rem;
        }
        a:hover {
            color: var(--beige);
            transition: all 0.2s ease-in-out;
        }
        .current {
            color: var(--beige);
        }
    }
}

.bread-crumb {
    background-image: url("/images/globeBg1.svg"), url("/images/globeBg2.svg");
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--white-300);
    padding: 5rem;
    > div {
        display: grid;
        justify-content: center;
        gap: 1rem;
    }
    ul {
        list-style: none;
        gap: .75rem;
        li {
            gap: inherit;
            i {
                font-size: 10px;
                color: var(--text-clr);
            }
        }
    }
    a:hover {
        color: var(--beige);
        transition: all 0.2s ease-in-out;
    }
    .active {
        color: var(--beige);
    }
}

.hero {
    position: relative;
    padding-block: 7rem;
    .hero-img {
        position: absolute;
        inset: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        div {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
        }
        h1 {
            font-size: 70px;
        }
    }
}

.services.light {
    background-color: var(--white-100);
}
.services {
    background-color: var(--white-300);
    > div {
        display: grid;
        justify-content: center;
        padding-block: 4rem;
    }
    .services-header {
        display: grid;
        text-align: center;
        .label {
            padding-bottom: 1rem;
        }
        .service-title{
            padding-bottom: 2rem;
        }
    }
    .service-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        .service-item{
            background-color: var(--white-100);
            border: 1px solid var(--white-400);
            h5, p {
                padding: 1.5rem;
            }
        }
    }
}

.team {
    > div {
        display: grid;
        justify-content: center;
    }
    img {
        width: 100%;
        height: auto;
    }
    .team-list {
        display: grid;
        /* grid-template-columns: repeat(12, 1fr); */
        grid-template-columns: 1fr 1fr 1fr;
        .col3 {
            
        }
        .col4 {
            
        }
    }
}

.service-detail {
    padding-block: 4rem;
    > div {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 2rem;
    }
    .vl {
        border: 1px solid var(--white-400);
        width: 1px;
        height: 100%;
    }
    .service {
        display: flex;
        gap: 2rem;
        .content {
            display: grid;
            gap: 1rem;
            padding-bottom: 2rem;
            img {
                width: 100%;
                height: auto;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                padding-left: 1rem;
                li::marker {
                    color: var(--beige);
                }
            }
            h3 {
                padding-block: 1rem;
            }
        }
    }
}

.info-aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
        width: 100%;
        height: auto;
    }
}

.contact.light {
    background-color: var(--white-100);
}
.contact {
    background-color: var(--white-300);
}

.contact-callback {
    position: relative;
    padding-top: 300px;
    .map-img {
        position: absolute;
        inset: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 750px;
            object-fit: cover;
            background-color: var(--gray-200);
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        background-color: var(--white-100);
    }
    .form-info {
        display: grid;
        text-align: center;
        gap: 1rem;
        padding-bottom: 2rem;
        max-width: 550px;
    }
    form {
        width: 100%;
    }
    .form-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
          "name email"
          "phone select"
          "submit submit";
        gap: 1rem;
        .input-group:has(input[asp-for="Name"]) {
            grid-area: name;
        }
        .input-group:has(input[asp-for="Email"]) {
            grid-area: email;
        }
        .input-group:has(input[asp-for="PhoneNumber"]) {
            grid-area: phone;
        }
        .select-group {
            grid-area: select;
        }
        button[type="submit"] {
            grid-area: submit;
            margin: auto;
        }
    }
}

footer {
    background-color: var(--dark-100);
    padding-block: 1rem;
    color: var(--text-clr);
    div {
        width: var(--section-width);
        margin: auto;
    }
    span {
        
        color: var(--beige);
    }
}
