/* --- VARIABLES --- */
:root {
    --white-100: #FFFFFF;
    --white-200: #F2EDDC; /* Sub color 1 */
    --white-300: #F7F7F7; /* darker bg */
    --white-400: #EAEAEA; /* service border */

    --beige: #D9C3A9; /* Sub color 3 */

    --gray-100: #EBEBEB; /* form input border */
    --gray-200: #AAAAAA; /* input placeholder */
    --gray-300: #999999; /* review text */
    --gray-400: #9C9EA6; /* Note 1 */
    --gray-500: #606966; /* socials border */
    --gray-600: #535656; /* Body text */
    --gray-700: #4F5955; /* Main color */
    
    --dark-100: #0E0E0E; /* footer bg */
    --dark-200: #2D303A; /* review stars */
    --dark-300: #333333; /* review client & name */

    --text-clr: var(--gray-600);
    --header-clr: var(--gray-700);
    --main-clr: var(--gray-700);
    --body-font-size: 14px;
    --text-sixe: .875rem; /* 14px */

    --font-bold: 700;
    --font-semi-bold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;

    --desktop-width: 1320px; /* Breakpoint at 1400px */
    --tablet-width: 768px;
    --mobile-width: 480px;
    /* --section-width: var(--desktop-width); */
    --section-width: 100%;

    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    --debug-border: dashed 1px red;
}

/* --- BASE --- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-clr);
    font-size: var(--text-sixe);
    font-weight: var(--font-regular);
}

/* DEFAULTS */
h1, h2, h3, h4, h5, h6 {
    color: var(--header-clr);
}
h1, h2, h3, h4, h6 {
    font-weight: var(--font-bold);
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 22px;
    font-weight: var(--font-semi-bold);
}
h6 {
    font-size: 18px;
}

a {
    text-decoration: none;
    font-weight: var(--font-medium);
    color: var(--main-clr);
}
a:visited {
    text-decoration: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary {
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-weight: var(--font-bold);
    font-size: 1rem;
    background-color: var(--main-clr);
    color: var(--white-100);
}
.container {
    width: var(--section-width);
    margin: 0;
    padding-inline: 1rem;
}
.label {
    font-weight: var(--font-bold);
    color: var(--beige);
}
.italic {
    font-style: italic;
}
.semi-bold {
    font-weight: var(--font-semi-bold);
}
.quote {
    font-size: 1.25rem;
}
/* drop shadow */
.ds {
    box-shadow: var(--shadow);
}

/* --- Forms --- */
input::placeholder {
    color: var(--gray-400);
    font-style: italic;
}
input, select, textarea, button {
    padding: 1rem;
    border: none;
    border-radius: .25rem;
    font-family: "Poppins", sans-serif;
    appearance: none;
}
input, select, textarea {
    border: 1px solid var(--gray-100);
    width: 100%;
}
input:focus, select:focus, textarea:focus {
    outline: none;
}
.btn-main, .btn-sub {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: var(--font-bold);
    border-radius: .25rem;
}
.btn-main {
    background-color: var(--main-clr);
    color: var(--white-200);
    padding: 1rem 2rem;
}
.btn-sub {
    background-color: var(--white-200);
    color: var(--main-clr);
    padding: 1rem 2rem;
    width: 100%;
}
.input-validation-error {
    border: 1px red solid;
}
.input-validation-error:focus {
    outline:red solid 1px;
}
.field-validation-error {
    color: red;
    font-size: .875rem;
    font-weight: var(--font-medium);
    display: block;
}
.select-group {
    position: relative;
    .icon {
        position: absolute;
        z-index: 100;
        width: 15px;
        height: 15px;
        right: 15px;
        top: 19px;
        text-align: center;
    }
}
.success-message, .error-message {
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    align-self: self-start;
    border-radius: .25rem;
    width: 100%;
    margin-top: 1rem;
}
.success-message {
    color: rgba(0, 128, 0, 0.75);
    background-color: rgba(0, 128, 0, 0.1);
}
.error-message {
    color: rgba(255, 0, 0, 0.75);
    background-color: rgba(128,0 , 0, 0.1);
}

/* --- SECTIONS --- */
.topbar {
    background-color: var(--main-clr);
    color: var(--white-100);
}
.topbar .links a {
    padding: .75rem;
    text-align: center;
    border-left: 1px solid var(--gray-500);
    
}
.topbar .links a:last-child {
    border-right: 1px solid var(--gray-500);
}
.topbar .links i::before {
    color: var(--white-100);
}

nav {
    color: var(--main-clr);
    padding-block: 1rem;
    flex-wrap: wrap;
    ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        a {
            font-weight: bold;
            padding: 1rem;
        }
        a:hover {
            color: var(--beige);
            transition: all 0.2s ease-in-out;
        }
        .current {
            color: var(--beige);
        }
    }
}

.bread-crumb {
    background-image: url("../assets/globeBg1.svg"), url("../assets/globeBg2.svg");
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--white-300);
    padding: 5rem;
    .container {
        display: grid;
        justify-content: center;
        gap: 1rem;
    }
    ul {
        list-style: none;
        flex-wrap: wrap;
        gap: .75rem;
        li {
            gap: inherit;
            i {
                font-size: 10px;
                color: var(--text-clr);
            }
        }
    }
    a:hover {
        color: var(--beige);
        transition: all 0.2s ease-in-out;
    }
    .active {
        color: var(--beige);
    }
}

.hero {
    position: relative;
    padding-block: 7rem;
    .hero-img {
        position: absolute;
        inset: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        div {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
        }
        h1 {
            font-size: 70px;
        }
    }
}

.about-callback > .container {
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 6rem;
    gap: 1rem;
    .content {
        display: grid;
        gap: 3rem;
        .content-body {
            display: grid;
            gap: 1rem;
            .quote {
                font-weight: var(--font-light);
            }
        }
    }
    .form-container {
        position: relative;
    }
    .form-box {
        position: relative;
        inset: initial;
        .form-header h3 {
            padding: 2rem;
            background-color: var(--main-clr);
            color: var(--white-200);
        }
        .form {
            padding: 2rem;
            background-color: var(--white-100);
            > p {
                padding-bottom: 1rem;
            }
            .form-body {
                display: grid;
                gap: 1.5rem;
            }
        }
    }
}

.services.light {
    background-color: var(--white-100);
}
.services {
    background-color: var(--white-300);
    > .container {
        display: grid;
        justify-content: center;
        padding-block: 4rem;
    }
    .services-header {
        display: grid;
        text-align: center;
        .label {
            padding-bottom: 1rem;
        }
        .service-title{
            padding-bottom: 2rem;
        }
    }
    .service-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        .service-item{
            background-color: var(--white-100);
            border: 1px solid var(--white-400);
            width: 372px;
            h5, p {
                padding: 1.5rem;
            }
        }
    }
}

.team {
    .container {
        padding-block: 6rem;
    }
    .team-header {
        text-align: center;
        display: grid;
        padding-bottom: 3rem;
    }
    img {
        width: 100%;
        height: auto;
    }
    .team-list {
        display: grid;
        gap: 3rem;
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            columns: 3;
            gap: 2rem;
        }
        .row:last-child {
            columns: 4;
        }
        .team-item {
            display: grid;
            border: 1px solid var(--white-400);
            div {
                padding: 1rem;
            }
        }
    }
}

.service-detail {
    padding-block: 4rem;
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    aside > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .vl {
        border: 1px solid var(--white-400);
        width: 1px;
        height: 100%;
        /*  */
        display: none;
    }
    .service {
        .content {
            display: grid;
            gap: 1rem;
            padding-bottom: 2rem;
            img {
                width: 100%;
                height: auto;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                padding-left: 1rem;
                li::marker {
                    color: var(--beige);
                }
            }
            h3 {
                padding-block: 1rem;
            }
        }
    }
}

.info-aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
        width: 100%;
        height: auto;
    }
}

.support-form {
    position: relative;
    background-color: var(--main-clr);
    padding: 1.5rem;
    display: grid;
    gap: 2rem;
    border-radius: .25rem;
    p {
        color: var(--white-100);
    }
    .title {
        font-size: 1.25rem;
    }
    img {
        position: absolute;
        inset: auto 0 0 auto;
    }
    form {
        z-index: 1;
        position: relative;
        .btn-icon {
            position: absolute;
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 1rem;
            color: var(--main-clr);
            transition: all .1s;
            &:hover {
                color: var(--dark-100);
                font-size: 1.25rem;
            }
        }
    }
}

.contact.light {
    background-color: var(--white-100);
}
.contact {
    background-color: var(--white-300);
    .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-top: 4rem;
        padding-inline: 0;
        .img-div {
            position: relative;
            height: 640px;
            display: none;
            img {
                position: absolute;
                height: 100%;
                inset: 0;
            }
        }
    }
    .contact-body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-inline: 1rem;
        padding-bottom: 4rem;
        .contact-info {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr 1fr;
            gap: .25rem;
            i {
                grid-row-start: 1;
                grid-row-end: 3;
                height: 21px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--beige);
                font-size: 1rem;
            }
            p {
                color: var(--main-clr);
            }
        }
    }
}

.contact-callback {
    position: relative;
    padding-top: 300px;
    .map-img {
        position: absolute;
        inset: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 750px;
            object-fit: cover;
            background-color: var(--gray-200);
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 1rem;
        background-color: var(--white-100);
    }
    .form-info {
        display: grid;
        text-align: center;
        gap: 1rem;
        padding-bottom: 2rem;
        max-width: 550px;
    }
    form {
        width: 100%;
    }
    .form-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "name"
            "email"
            "phone"
            "select"
            "submit";
        gap: 1rem;
        .input-group:has(input[asp-for="Name"]) {
            grid-area: name;
        }
        .input-group:has(input[asp-for="Email"]) {
            grid-area: email;
        }
        .input-group:has(input[asp-for="PhoneNumber"]) {
            grid-area: phone;
        }
        .select-group {
            grid-area: select;
        }
        button[type="submit"] {
            grid-area: submit;
        }
    }
}

.question {
    .container {
        display: grid;
        gap: 1rem;
        padding-block: 1rem;
    }
    form {
        display: grid;
        gap: 1rem;
        .sender {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            .input-group {
                width: 100%;
            }
        }
        .question-area textarea {
            min-height: 200px;
        }
    }
}

.story > .container {
    display: grid;
    .content {
        position: relative;
        display: grid;
        gap: 2rem;
        text-align: center;
        padding-top: 4rem;
        .btn-main {
            width: fit-content;
            margin: auto;
        }
        .fg {
            padding-top: 2rem;
            margin: -6px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .bg {
            position: absolute;
            inset: auto 0 0 0;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.success {
    background-color: var(--main-clr);
    .container {
        min-height: 800px;
        position: relative;
        text-align: center;
        padding-top: 4rem;
    }
    .header h2 {
        color: var(--white-100);
    }
    .statistics {
        gap: 2rem;
        flex-wrap: wrap;
        .number {
            color: var(--beige);
            font-size: 100px;
        }
        .text {
            color: var(--white-100);
            font-size: 1.125rem;
        }
    }
    .bg-image {
        position: absolute;
        inset: 5rem 0 0 0;
    }
    .image {
        position: absolute;
        inset: auto 0 -10rem 0;
        display: none;
    }
}

.partners {
    padding-block: 2rem;
    .logos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.about .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-block: 5rem;
    .image .name {
        font-size: 1rem;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .quote {
            font-weight: var(--font-light);
        }
    }
}

.reviews {
    background-color: var(--white-300);
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        height: 500px;
    }
    .text {
        padding-block: 4rem;
        .quote {
            padding-top: 1rem;
            color: var(--gray-300);
        }
        .stars {
            padding-block: 1rem;
        }
        .company {
            font-size: 1.25rem;
        }
        .stars, .company, .name {
            color: var(--dark-200);
        }
    }
    .image {
        position: relative;
        height: inherit;
        display: none;
        img {
            position: absolute;
            height: inherit;
        }
    }
}

footer {
    background-color: var(--dark-100);
    padding-block: 1rem;
    color: var(--text-clr);
    div {
        width: var(--section-width);
        margin: auto;
    }
    span {
        
        color: var(--beige);
    }
}

/* MEDIA */
@media (min-width: 768px) {
    .about .container {
        grid-template-columns: 1fr 2fr;
    }
    .reviews .container {
        padding-inline: 3rem;
    }
    .service-detail .container {
        
        grid-template-columns: 2fr auto 5fr;
        .vl {
            display: block;
        }
    }
    .question form {
        .sender {
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
        .btn-main {
            width: fit-content;
        }
    }
    .contact-callback .container {
        padding: 3rem;
        .form-body {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "name email"
                "phone select"
                "submit submit";
            button[type="submit"] {
                margin: auto;
            }
        }
    }
}

@media (min-width: 1400px) {
    :root {
        --section-width: var(--desktop-width);
        
    }
    body .container {
        width: var(--section-width);
        margin: auto;
    }
    .about-callback > .container {
        grid-template-columns: 6fr 4fr;
        .form-box {
            position: absolute;
            inset: -12rem 0 0 0;
        }
    }
    .services .service-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .success {
        .container {
            margin-bottom: 10rem;
        }
        .statistics {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .image {
            display: block;
        }
    }
    .reviews .container {
        grid-template-columns: 1fr 1fr;
        padding-inline: 0;
        .image {
            display: block;
        }
    }
    .team .container .team-list .row {
        display: block;
    }
    .contact .container {
        grid-template-columns: 1fr 1fr;
        .contact-body {
            padding-inline: 4rem 0;
            padding-bottom: 0;
        }
        .img-div {
            display: block;
        }
    }
    .service-detail .container {
        gap: 2rem;
    }
}
