<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac9b15c0-789b-457c-8259-d9420213ea27" Alias="Contact Callback Section Settings - Form Options - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Contact Callback Section Settings - Form Options - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>