<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47578be9-f4a3-4f50-9659-676e1b041742" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d5d06dd2-43ff-490b-a198-6ba336eab8a9"
    },
    {
      "contentElementTypeKey": "f4f13cd0-be6a-4d86-99bc-02f29b1bc921",
      "settingsElementTypeKey": "a1926847-f55f-4256-a9c9-1c4ace9b29ad"
    },
    {
      "contentElementTypeKey": "7b71f6a0-eba7-4d45-8403-2d11411d3346"
    }
  ]
}]]></Config>
</DataType>