<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47578be9-f4a3-4f50-9659-676e1b041742" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d5d06dd2-43ff-490b-a198-6ba336eab8a9"
    },
    {
      "contentElementTypeKey": "f4f13cd0-be6a-4d86-99bc-02f29b1bc921",
      "settingsElementTypeKey": "a1926847-f55f-4256-a9c9-1c4ace9b29ad"
    },
    {
      "contentElementTypeKey": "7b71f6a0-eba7-4d45-8403-2d11411d3346"
    },
    {
      "contentElementTypeKey": "ed40c3ae-5130-4768-a7d8-fc03a52d1f3f",
      "settingsElementTypeKey": "4df9e1bd-b8d3-40b0-ab76-d9122b94b873"
    },
    {
      "contentElementTypeKey": "3edfe278-fba4-4d3e-9c56-de28d3742849",
      "settingsElementTypeKey": "5bdb1a68-828f-430b-bb1e-667e1f0414c5"
    },
    {
      "contentElementTypeKey": "8cd41f23-7209-4017-ae04-1aedb229fe3e",
      "settingsElementTypeKey": "5bdb1a68-828f-430b-bb1e-667e1f0414c5"
    },
    {
      "contentElementTypeKey": "e041d5a6-6a2e-4fae-b49f-99f967274c29"
    },
    {
      "contentElementTypeKey": "74d29128-ea2e-4b32-adb5-fa46129f2ba9"
    },
    {
      "contentElementTypeKey": "66c20069-0da3-4bbf-9c6b-85520fa73afd"
    }
  ]
}]]></Config>
</DataType>