<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c396c3c6-f477-4535-9d7a-d4547e9da239" Alias="Review Section - Review Rating" Level="1">
  <Info>
    <Name>Review Section - Review Rating</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 5,
  "min": 1,
  "step": 1
}]]></Config>
</DataType>