<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54cda6a3-b865-431e-b55c-b29139964b25" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d4bc6a8a-2c37-4820-bc19-fff7a37fad25"
    }
  ]
}]]></Config>
</DataType>