<?xml version="1.0" encoding="utf-8"?>
<DataType Key="891c10c1-f039-4f94-ba89-486198176645" Alias="Site Settings - Social Media List" Level="1">
  <Info>
    <Name>Site Settings - Social Media List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ea3e2027-c095-4edd-9b5f-5685de0f51c4",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>