<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98b7ff56-a29c-4c8a-81c2-8fe0715acc83" Alias="Success Section - Statistics" Level="1">
  <Info>
    <Name>Success Section - Statistics</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "06e78672-883e-4d24-8775-d592b6f38679"
    }
  ]
}]]></Config>
</DataType>