<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74b74561-00fd-44ed-bf6f-748e350b75b1" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bde9b90c-020d-4a0e-9139-b188e370d510",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>