<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b96fd393-87d4-4678-8bc1-b4a891d23725" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="34dd713f-d97a-4d16-836d-6ab3fffd90b8" SortOrder="0">callbackRequest</ContentType>
    <ContentType Key="fdd02ebc-de11-4935-9044-6f0582483bb3" SortOrder="1">supportRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>