<?xml version="1.0" encoding="utf-8"?>
<Media Key="0658290e-6007-4c02-8943-1b80ff169a7f" Alias="aaronLambert.svg" Level="2">
  <Info>
    <Parent Key="00c63162-7be6-4865-88f8-91040b16a1b0">Team Members</Parent>
    <Path>/TeamMembers/aaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T15:25:38</CreateDate>
    <NodeName Default="aaronLambert.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5skpvza2/aaronlambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>