<?xml version="1.0" encoding="utf-8"?>
<Media Key="41c0614f-28bb-4408-a1cd-d56973178e56" Alias="ajCarter.svg" Level="2">
  <Info>
    <Parent Key="00c63162-7be6-4865-88f8-91040b16a1b0">Team Members</Parent>
    <Path>/TeamMembers/ajCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T15:25:14</CreateDate>
    <NodeName Default="ajCarter.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxogfi3a/ajcarter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>