<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ddf090b-af8d-4945-bcdc-ef1d2832babe" Alias="assuranceAudits.svg" Level="2">
  <Info>
    <Parent Key="f730cfbc-6dd0-45f7-982d-68a32cfcb812">Services Thumbnail</Parent>
    <Path>/ServicesThumbnail/assuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T17:04:19</CreateDate>
    <NodeName Default="assuranceAudits.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5g0h1l2w/assuranceaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>