<?xml version="1.0" encoding="utf-8"?>
<Media Key="f23a9ec2-02c6-4c69-a66a-5b03b57a5a48" Alias="brandonNewton.svg" Level="2">
  <Info>
    <Parent Key="00c63162-7be6-4865-88f8-91040b16a1b0">Team Members</Parent>
    <Path>/TeamMembers/brandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T15:20:42</CreateDate>
    <NodeName Default="brandonNewton.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/garjqeg3/brandonnewton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>