<?xml version="1.0" encoding="utf-8"?>
<Media Key="43bf9282-c52d-4cfa-83ae-fc89718a5114" Alias="contactImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T18:15:11</CreateDate>
    <NodeName Default="contactImage.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oaxb1ijw/contactimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>