<?xml version="1.0" encoding="utf-8"?>
<Media Key="032a5d99-1200-4ed0-a65c-06fcd9e0e3d1" Alias="financialAdvisor.svg" Level="2">
  <Info>
    <Parent Key="f730cfbc-6dd0-45f7-982d-68a32cfcb812">Services Thumbnail</Parent>
    <Path>/ServicesThumbnail/financialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T17:04:19</CreateDate>
    <NodeName Default="financialAdvisor.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npqiryi1/financialadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>