<?xml version="1.0" encoding="utf-8"?>
<Media Key="d18ccfae-8d26-49d6-a842-839313a9fb60" Alias="heroImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T18:05:28</CreateDate>
    <NodeName Default="heroImage.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lrzc2mz3/heroimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>