<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdadff47-c080-4052-b449-ef200f94528b" Alias="image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/imagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T00:03:32</CreateDate>
    <NodeName Default="image.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wvba4x21/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>