<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe603518-a75c-494e-81c2-85b7b53178bc" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:52:14</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3kemehch/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>