<?xml version="1.0" encoding="utf-8"?>
<Media Key="18fbe84b-683a-4da7-bd91-cd93a49c7fe7" Alias="Mail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T15:55:14</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xfkft4rb/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>