<?xml version="1.0" encoding="utf-8"?>
<Media Key="b778b470-215a-44b9-8b49-38deb429f065" Alias="mapBg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:07:49</CreateDate>
    <NodeName Default="mapBg.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qienuvkb/mapbg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>