<?xml version="1.0" encoding="utf-8"?>
<Media Key="aeb927b1-e3e0-4653-8bdc-cd957f323ecf" Alias="new folder name" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/newFolderName</Path>
    <Trashed Parent="f730cfbc-6dd0-45f7-982d-68a32cfcb812">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T17:03:52</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>