<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c334272-4655-4a8a-b631-b741f5efff9a" Alias="partner05.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner05svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:41</CreateDate>
    <NodeName Default="partner05.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qd5jdxso/partner05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>