<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4bcdc75-1a15-465a-a49a-155cd436bb9a" Alias="partner04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner04svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:41</CreateDate>
    <NodeName Default="partner04.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q3qb2fqo/partner04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>