<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5a94d1c-4560-4942-ace8-d0dae52a810b" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T17:57:23</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties />
</Media>