<?xml version="1.0" encoding="utf-8"?>
<Media Key="e23eb3ca-0943-4223-8de3-75760d0843c5" Alias="partner02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:41</CreateDate>
    <NodeName Default="partner02.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hahjyacy/partner02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>