<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4bcdc75-1a15-465a-a49a-155cd436bb9a" Alias="partner04.svg" Level="2">
  <Info>
    <Parent Key="c5a94d1c-4560-4942-ace8-d0dae52a810b">Partners</Parent>
    <Path>/Partners/partner04svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:41</CreateDate>
    <NodeName Default="partner04.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q3qb2fqo/partner04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>