<?xml version="1.0" encoding="utf-8"?>
<Media Key="773cead7-4c1a-40c7-bcca-f07d401fb050" Alias="partner01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner01svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:40</CreateDate>
    <NodeName Default="partner01.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/evlj3fib/partner01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>