<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c559d16-7641-4835-adde-1ed3097b5915" Alias="partner03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:41</CreateDate>
    <NodeName Default="partner03.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2qqppds0/partner03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>