<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dd65630-400a-4717-ad43-ccf5b36bb0cb" Alias="partner06.svg" Level="2">
  <Info>
    <Parent Key="c5a94d1c-4560-4942-ace8-d0dae52a810b">Partners</Parent>
    <Path>/Partners/partner06svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:41</CreateDate>
    <NodeName Default="partner06.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ylvhj1yr/partner06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>