<?xml version="1.0" encoding="utf-8"?>
<Media Key="773cead7-4c1a-40c7-bcca-f07d401fb050" Alias="partner01.svg" Level="2">
  <Info>
    <Parent Key="c5a94d1c-4560-4942-ace8-d0dae52a810b">Partners</Parent>
    <Path>/Partners/partner01svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:16:40</CreateDate>
    <NodeName Default="partner01.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/evlj3fib/partner01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>