<?xml version="1.0" encoding="utf-8"?>
<Media Key="0805ce26-c377-46ac-bc11-14a96e94e7dd" Alias="riskManagement.svg" Level="2">
  <Info>
    <Parent Key="f730cfbc-6dd0-45f7-982d-68a32cfcb812">Services Thumbnail</Parent>
    <Path>/ServicesThumbnail/riskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T17:04:19</CreateDate>
    <NodeName Default="riskManagement.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0rzlp0tm/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>