<?xml version="1.0" encoding="utf-8"?>
<Media Key="f730cfbc-6dd0-45f7-982d-68a32cfcb812" Alias="Services Thumbnail" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T17:02:33</CreateDate>
    <NodeName Default="Services Thumbnail" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>