<?xml version="1.0" encoding="utf-8"?>
<Media Key="10171e1c-6da7-4b5e-bc75-3f5a998b2664" Alias="signatures.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/signaturessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T18:02:48</CreateDate>
    <NodeName Default="signatures.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/30rll2v2/signatures.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>