<?xml version="1.0" encoding="utf-8"?>
<Media Key="188ab89b-104a-49b6-9ddd-09f423afa6f7" Alias="statisticAdvisors.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/statisticAdvisorssvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T16:54:00</CreateDate>
    <NodeName Default="statisticAdvisors.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/necdr4sr/statisticadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>