<?xml version="1.0" encoding="utf-8"?>
<Media Key="55a98fba-178c-418d-8c4c-87a9d97b6092" Alias="statisticAdvisors.svg" Level="2">
  <Info>
    <Parent Key="f730cfbc-6dd0-45f7-982d-68a32cfcb812">Services Thumbnail</Parent>
    <Path>/ServicesThumbnail/statisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T17:04:19</CreateDate>
    <NodeName Default="statisticAdvisors.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jazaxn2x/statisticadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>