<?xml version="1.0" encoding="utf-8"?>
<Media Key="404c236f-172e-42b6-9c11-322b3ce44c61" Alias="staticAdvisors.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/staticAdvisorssvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T16:51:58</CreateDate>
    <NodeName Default="staticAdvisors.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>