<?xml version="1.0" encoding="utf-8"?>
<Media Key="44a02494-3e34-402f-a1cb-d786bdc28961" Alias="statisticAdvisors.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/statisticAdvisorssvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T13:27:43</CreateDate>
    <NodeName Default="statisticAdvisors.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m0mbfjrp/statisticadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>