<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3991552-9035-4ac8-8da5-287a87069fbf" Alias="successMap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T00:03:43</CreateDate>
    <NodeName Default="successMap.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ucudwajo/successmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>