<?xml version="1.0" encoding="utf-8"?>
<Media Key="326cd09d-093f-4542-8c65-4d574ae7de0c" Alias="taxAndTrusts.svg" Level="2">
  <Info>
    <Parent Key="f730cfbc-6dd0-45f7-982d-68a32cfcb812">Services Thumbnail</Parent>
    <Path>/ServicesThumbnail/taxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T17:04:19</CreateDate>
    <NodeName Default="taxAndTrusts.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n3wn3ube/taxandtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>