<?xml version="1.0" encoding="utf-8"?>
<Media Key="00c63162-7be6-4865-88f8-91040b16a1b0" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T17:07:59</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>