<?xml version="1.0" encoding="utf-8"?>
<Media Key="952943d2-7d76-4b27-8bb0-ed314bd7ada1" Alias="tinaFoxTall.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxTallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:56:42</CreateDate>
    <NodeName Default="tinaFoxTall.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ed5iw31n/tinafoxtall.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>