<?xml version="1.0" encoding="utf-8"?>
<Media Key="c53c7416-3142-45ba-b547-43e8028af574" Alias="trustPeople.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trustPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:24:56</CreateDate>
    <NodeName Default="trustPeople.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2tej2j0z/trustpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>