<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ecc92a0-9ec8-4ce9-a6e3-cba5cfe8e780" Alias="trustGlobe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trustGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:25:05</CreateDate>
    <NodeName Default="trustGlobe.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kixh21gt/trustglobe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>