<?xml version="1.0" encoding="utf-8"?>
<Content Key="83dd36a5-7d71-487d-9491-0eb9378f3acc" Alias="2025-11-12 20:11 - Johnny Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JohnnyTest</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T20:11:59</CreateDate>
    <NodeName Default="2025-11-12 20:11 - Johnny Test" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Johnny Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>