<?xml version="1.0" encoding="utf-8"?>
<Content Key="221ff6b8-a046-4a88-b6ca-c19093aca91b" Alias="2025-11-12 17:32 - John Doe" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JohnDoe</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-12T17:32:02</CreateDate>
    <NodeName Default="2025-11-12 17:32 - John Doe" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[john.doe@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[John Doe]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[TestingTestingTestingTestingTestingTestingTestingTestingTestingTestingTestingTestingTesting
TestingTestingTestingTestingTestingTesting
TestingTestingTestingTestingTestingTestingTestingTesting]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>