<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e97a2f0-83f2-4aa4-b532-0dac1f5fd8d6" Alias="2025-11-10 18:07 - Jane" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Jane</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T18:07:06</CreateDate>
    <NodeName Default="2025-11-10 18:07 - Jane" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jane@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jane]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>