<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3116cfb-a931-4d2a-a8fd-0157e57177f0" Alias="2025-11-12 20:12 - abc@domain.com" Level="2">
  <Info>
    <Parent Key="54c81d9b-dcae-419d-919f-0f5aa861a8da">Form Submissions</Parent>
    <Path>/FormSubmissions/abcDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-12T20:12:35</CreateDate>
    <NodeName Default="2025-11-12 20:12 - abc@domain.com" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[abc@domain.com]]></Value>
    </contactEmail>
  </Properties>
</Content>