<?xml version="1.0" encoding="utf-8"?>
<Content Key="2feefbbe-1287-4c42-a7e7-9f81e571b757" Alias="2025-11-08 15:29 - John" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/John</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-08T15:29:37</CreateDate>
    <NodeName Default="2025-11-08 15:29 - John" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[john@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Statistics]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>