<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae7a87b8-566b-4771-ba53-65760b13a401" Alias="2025-11-07 15:45 - John Doe" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JohnDoe</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-07T15:45:56</CreateDate>
    <NodeName Default="2025-11-07 15:45 - John Doe" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[john.doe@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John Doe]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123-456 78 90]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>