<?xml version="1.0" encoding="utf-8"?>
<Content Key="b81f1f0f-8ca0-4d7b-a8fa-2afe9acb4c32" Alias="2025-11-12 20:14 - Jane" Level="2">
  <Info>
    <Parent Key="54c81d9b-dcae-419d-919f-0f5aa861a8da">Form Submissions</Parent>
    <Path>/FormSubmissions/Jane</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T20:14:08</CreateDate>
    <NodeName Default="2025-11-12 20:14 - Jane" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jane@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jane]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>