<?xml version="1.0" encoding="utf-8"?>
<Content Key="66c63216-70df-42bf-bace-2eabff53ecd2" Alias="2025-11-08 15:33 - John Doe" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JohnDoe</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-08T15:33:51</CreateDate>
    <NodeName Default="2025-11-08 15:33 - John Doe" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[123@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John Doe]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Statistics]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>