<?xml version="1.0" encoding="utf-8"?>
<Content Key="99133e87-c52a-4aed-a071-17c5976a6458" Alias="2025-11-12 20:13 - John Doe" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JohnDoe</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-12T20:13:03</CreateDate>
    <NodeName Default="2025-11-12 20:13 - John Doe" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[john.doe@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[John Doe]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Does this thing work?]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>