<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcfff90e-be5b-44c3-b39f-b46bf84cb039" Alias="2025-11-12 16:35 - john.doe@domain.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/johndoeDomaincom</Path>
    <Trashed Parent="54c81d9b-dcae-419d-919f-0f5aa861a8da">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T16:35:30</CreateDate>
    <NodeName Default="2025-11-12 16:35 - john.doe@domain.com" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[john.doe@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>