<?xml version="1.0" encoding="utf-8"?>
<Content Key="2feefbbe-1287-4c42-a7e7-9f81e571b757" Alias="2025-11-08 15:29 - John" Level="2">
  <Info>
    <Parent Key="54c81d9b-dcae-419d-919f-0f5aa861a8da">Form Submissions</Parent>
    <Path>/FormSubmissions/John</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-08T15:29:37</CreateDate>
    <NodeName Default="2025-11-08 15:29 - John" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[john@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Statistics]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>