<?xml version="1.0" encoding="utf-8"?>
<Content Key="24a854aa-f2bd-4f01-be9d-61972162ff08" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="e56132c6-af04-4847-9a9a-5595ca4d8265">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T17:06:25</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e07137e5-9382-4267-b5dc-cff8694a12be">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ed40c3ae-5130-4768-a7d8-fc03a52d1f3f",
      "key": "824f4004-3cc5-4599-8952-1352d66135c3",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9392cc39-6c22-41ca-977c-b4addf92038a",
              "mediaKey": "43bf9282-c52d-4cfa-83ae-fc89718a5114",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4df9e1bd-b8d3-40b0-ab76-d9122b94b873",
      "key": "bf7f206f-419c-4e12-8374-fcdff3ac2ba8",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Light Gray",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "824f4004-3cc5-4599-8952-1352d66135c3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "824f4004-3cc5-4599-8952-1352d66135c3",
        "contentUdi": null,
        "settingsKey": "bf7f206f-419c-4e12-8374-fcdff3ac2ba8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "b2a3e742-a30d-4f1a-9344-06b39e5de2b5",
    "mediaKey": "4ddf090b-af8d-4945-bcdc-ef1d2832babe",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>