<?xml version="1.0" encoding="utf-8"?>
<Content Key="c51f6757-86c0-451e-a5f1-5fb8c81ffca7" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="e56132c6-af04-4847-9a9a-5595ca4d8265">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T17:06:51</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e07137e5-9382-4267-b5dc-cff8694a12be">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ed40c3ae-5130-4768-a7d8-fc03a52d1f3f",
      "key": "ec69b4cf-5a78-49a7-8db8-d619454b1044",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9392cc39-6c22-41ca-977c-b4addf92038a",
              "mediaKey": "43bf9282-c52d-4cfa-83ae-fc89718a5114",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4df9e1bd-b8d3-40b0-ab76-d9122b94b873",
      "key": "3aa317ad-52e5-45bf-8329-b7b85f24ecee",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Light Gray",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ec69b4cf-5a78-49a7-8db8-d619454b1044",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ec69b4cf-5a78-49a7-8db8-d619454b1044",
        "contentUdi": null,
        "settingsKey": "3aa317ad-52e5-45bf-8329-b7b85f24ecee",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9c9d27c9-f3bc-4328-8217-652d9cd40b0d",
    "mediaKey": "f1b33b3e-b741-4ebb-b001-5224e33cadc8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>