<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ce780cd-6e54-4afe-8030-d77cae2840ad" Alias="Contact" Level="2">
  <Info>
    <Parent Key="95fb9ac5-d896-4b97-8897-2f70c9489150">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T18:06:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2945c2f1-71c6-40ec-97f9-2bd8f719dae9">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ed40c3ae-5130-4768-a7d8-fc03a52d1f3f",
      "key": "e604237a-583a-4856-b827-982436baaec6",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9392cc39-6c22-41ca-977c-b4addf92038a",
              "mediaKey": "43bf9282-c52d-4cfa-83ae-fc89718a5114",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4df9e1bd-b8d3-40b0-ab76-d9122b94b873",
      "key": "e09d2882-db54-4796-b609-a8ccf4192637",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e604237a-583a-4856-b827-982436baaec6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e604237a-583a-4856-b827-982436baaec6",
        "contentUdi": null,
        "settingsKey": "e09d2882-db54-4796-b609-a8ccf4192637",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>