<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ce780cd-6e54-4afe-8030-d77cae2840ad" Alias="Contact" Level="2">
  <Info>
    <Parent Key="95fb9ac5-d896-4b97-8897-2f70c9489150">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T18:06:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2945c2f1-71c6-40ec-97f9-2bd8f719dae9">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ed40c3ae-5130-4768-a7d8-fc03a52d1f3f",
      "key": "a308eb48-d363-4459-8092-174176235f8b",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a308eb48-d363-4459-8092-174176235f8b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a308eb48-d363-4459-8092-174176235f8b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>