<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ce780cd-6e54-4afe-8030-d77cae2840ad" Alias="Contact" Level="2">
  <Info>
    <Parent Key="95fb9ac5-d896-4b97-8897-2f70c9489150">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T18:06:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2945c2f1-71c6-40ec-97f9-2bd8f719dae9">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ed40c3ae-5130-4768-a7d8-fc03a52d1f3f",
      "key": "e604237a-583a-4856-b827-982436baaec6",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9392cc39-6c22-41ca-977c-b4addf92038a",
              "mediaKey": "43bf9282-c52d-4cfa-83ae-fc89718a5114",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3edfe278-fba4-4d3e-9c56-de28d3742849",
      "key": "494041d9-b497-4d19-b54b-fc889148dfa3",
      "udi": null,
      "values": [
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "REQUEST A CALL BACK"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "formBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "formBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "462ace61-aa15-496c-86cc-e59a4c1c8c24",
              "mediaKey": "b778b470-215a-44b9-8b49-38deb429f065",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "66c20069-0da3-4bbf-9c6b-85520fa73afd",
      "key": "8f7d7494-2149-4a8b-8255-2add16335b9a",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "003e047e-a2a2-4ac6-a12f-fa9f653b41bc",
              "mediaKey": "773cead7-4c1a-40c7-bcca-f07d401fb050",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "20f879d5-4b01-4281-90c2-1ede284d8168",
              "mediaKey": "e23eb3ca-0943-4223-8de3-75760d0843c5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "d0a841bd-170d-40fe-9964-4150e5e9b4c3",
              "mediaKey": "3c334272-4655-4a8a-b631-b741f5efff9a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "6fe7ada1-80b0-4341-9164-25e77a2be0e7",
              "mediaKey": "f4bcdc75-1a15-465a-a49a-155cd436bb9a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "a3580053-b51c-41b9-acf2-33f9ccaa7abc",
              "mediaKey": "6c559d16-7641-4835-adde-1ed3097b5915",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "1acbc214-f36c-4ede-b195-92e1b551eaaa",
              "mediaKey": "0dd65630-400a-4717-ad43-ccf5b36bb0cb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4df9e1bd-b8d3-40b0-ab76-d9122b94b873",
      "key": "e09d2882-db54-4796-b609-a8ccf4192637",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5bdb1a68-828f-430b-bb1e-667e1f0414c5",
      "key": "b87a34d8-5e2f-47c1-9ba4-2282e03cd790",
      "udi": null,
      "values": [
        {
          "alias": "formOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nStatistics\nRisk management"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e604237a-583a-4856-b827-982436baaec6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "494041d9-b497-4d19-b54b-fc889148dfa3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8f7d7494-2149-4a8b-8255-2add16335b9a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e604237a-583a-4856-b827-982436baaec6",
        "contentUdi": null,
        "settingsKey": "e09d2882-db54-4796-b609-a8ccf4192637",
        "settingsUdi": null
      },
      {
        "contentKey": "494041d9-b497-4d19-b54b-fc889148dfa3",
        "contentUdi": null,
        "settingsKey": "b87a34d8-5e2f-47c1-9ba4-2282e03cd790",
        "settingsUdi": null
      },
      {
        "contentKey": "8f7d7494-2149-4a8b-8255-2add16335b9a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>