<?xml version="1.0" encoding="utf-8"?>
<Content Key="95fb9ac5-d896-4b97-8897-2f70c9489150" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-20T17:51:34</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="71b962da-8883-4c4d-a61e-d28c9859e8f0">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d5d06dd2-43ff-490b-a198-6ba336eab8a9",
      "key": "3bbc68fe-87d2-4f3a-961c-48f15308f1d1",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2f6b8cd2-de99-466f-b0ae-d4451aa19118",
              "mediaKey": "d18ccfae-8d26-49d6-a842-839313a9fb60",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/0ce780cd6e544afe8030d77cae2840ad",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f4f13cd0-be6a-4d86-99bc-02f29b1bc921",
      "key": "5eeb7489-3323-4bcb-9f1a-69357e20a329",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        }
      ]
    },
    {
      "contentTypeKey": "8cd41f23-7209-4017-ae04-1aedb229fe3e",
      "key": "012c59d2-a02e-4195-8025-38767393b832",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutQuote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "aboutBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "signatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cfaa7706-18e4-4bd9-a50c-e4d4f4dbd87b",
              "mediaKey": "10171e1c-6da7-4b5e-bc75-3f5a998b2664",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "e041d5a6-6a2e-4fae-b49f-99f967274c29",
      "key": "8e9e2197-4155-4734-9028-b88d4b27a983",
      "udi": null,
      "values": [
        {
          "alias": "storyTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;color: #d9c3a9;\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/h3\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "storyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "storyLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/1b89d0eb8cfd49278310619bf93cf6ef",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "storyImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f1ce81c1-5c37-41be-9203-9a41d64f916d",
              "mediaKey": "c53c7416-3142-45ba-b547-43e8028af574",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "storyBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "aab46c28-5c7f-4f31-89eb-ecfd52a01e9c",
              "mediaKey": "8ecc92a0-9ec8-4ce9-a6e3-cba5cfe8e780",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "66c20069-0da3-4bbf-9c6b-85520fa73afd",
      "key": "9756958d-4eae-4385-b978-75fa45f89d35",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "003e047e-a2a2-4ac6-a12f-fa9f653b41bc",
              "mediaKey": "773cead7-4c1a-40c7-bcca-f07d401fb050",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "20f879d5-4b01-4281-90c2-1ede284d8168",
              "mediaKey": "e23eb3ca-0943-4223-8de3-75760d0843c5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "d0a841bd-170d-40fe-9964-4150e5e9b4c3",
              "mediaKey": "3c334272-4655-4a8a-b631-b741f5efff9a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "6fe7ada1-80b0-4341-9164-25e77a2be0e7",
              "mediaKey": "f4bcdc75-1a15-465a-a49a-155cd436bb9a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "a3580053-b51c-41b9-acf2-33f9ccaa7abc",
              "mediaKey": "6c559d16-7641-4835-adde-1ed3097b5915",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "1acbc214-f36c-4ede-b195-92e1b551eaaa",
              "mediaKey": "0dd65630-400a-4717-ad43-ccf5b36bb0cb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "74d29128-ea2e-4b32-adb5-fa46129f2ba9",
      "key": "291ee976-8ac4-4051-a051-e7b2595ed5dd",
      "udi": null,
      "values": [
        {
          "alias": "successLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a1926847-f55f-4256-a9c9-1c4ace9b29ad",
      "key": "443a7200-3916-40d5-a665-20a64a7a3608",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Light Gray",
            "value": "#F7F7F7"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5bdb1a68-828f-430b-bb1e-667e1f0414c5",
      "key": "79dd8257-5300-40e0-8f2c-0150d8652aea",
      "udi": null,
      "values": [
        {
          "alias": "formOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nStatistics\nRisk management"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3bbc68fe-87d2-4f3a-961c-48f15308f1d1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5eeb7489-3323-4bcb-9f1a-69357e20a329",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "012c59d2-a02e-4195-8025-38767393b832",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8e9e2197-4155-4734-9028-b88d4b27a983",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9756958d-4eae-4385-b978-75fa45f89d35",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "291ee976-8ac4-4051-a051-e7b2595ed5dd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3bbc68fe-87d2-4f3a-961c-48f15308f1d1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "012c59d2-a02e-4195-8025-38767393b832",
        "contentUdi": null,
        "settingsKey": "79dd8257-5300-40e0-8f2c-0150d8652aea",
        "settingsUdi": null
      },
      {
        "contentKey": "5eeb7489-3323-4bcb-9f1a-69357e20a329",
        "contentUdi": null,
        "settingsKey": "443a7200-3916-40d5-a665-20a64a7a3608",
        "settingsUdi": null
      },
      {
        "contentKey": "8e9e2197-4155-4734-9028-b88d4b27a983",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "291ee976-8ac4-4051-a051-e7b2595ed5dd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9756958d-4eae-4385-b978-75fa45f89d35",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>