<?xml version="1.0" encoding="utf-8"?>
<Content Key="e56132c6-af04-4847-9a9a-5595ca4d8265" Alias="Services" Level="2">
  <Info>
    <Parent Key="95fb9ac5-d896-4b97-8897-2f70c9489150">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-20T18:06:35</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e94d1ca-5238-4ba5-b489-a51b0954b074">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f4f13cd0-be6a-4d86-99bc-02f29b1bc921",
      "key": "31217bb7-470f-4680-9baa-fb2603c269dd",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a1926847-f55f-4256-a9c9-1c4ace9b29ad",
      "key": "c4b5da64-769d-4b58-8192-874cb56a9d7c",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFF"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "31217bb7-470f-4680-9baa-fb2603c269dd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "31217bb7-470f-4680-9baa-fb2603c269dd",
        "contentUdi": null,
        "settingsKey": "c4b5da64-769d-4b58-8192-874cb56a9d7c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>