<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc66cd9e-e4ec-4247-bfcb-3907b057ddf7" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-22T12:58:28</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "6c437530-eee8-4785-bb41-7d1a40dc6856",
    "mediaKey": "8acef90f-ea03-4f83-bd6e-9d2db245d9ae",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ea3e2027-c095-4edd-9b5f-5685de0f51c4",
      "key": "d4b8c0fd-ed34-4485-a4bc-4479a39f6199",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "ea3e2027-c095-4edd-9b5f-5685de0f51c4",
      "key": "eae5f835-4bd4-410b-b0ce-64c54fc8f961",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "ea3e2027-c095-4edd-9b5f-5685de0f51c4",
      "key": "77c05b3d-efc3-45e0-829c-80b9a782c8d9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d4b8c0fd-ed34-4485-a4bc-4479a39f6199",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eae5f835-4bd4-410b-b0ce-64c54fc8f961",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "77c05b3d-efc3-45e0-829c-80b9a782c8d9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d4b8c0fd-ed34-4485-a4bc-4479a39f6199",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "eae5f835-4bd4-410b-b0ce-64c54fc8f961",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "77c05b3d-efc3-45e0-829c-80b9a782c8d9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaList>
  </Properties>
</Content>