<?xml version="1.0" encoding="utf-8"?>
<Content Key="189f8a81-5da0-4c0b-86c0-71e8004f2bff" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="e56132c6-af04-4847-9a9a-5595ca4d8265">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T17:05:47</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e07137e5-9382-4267-b5dc-cff8694a12be">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ed40c3ae-5130-4768-a7d8-fc03a52d1f3f",
      "key": "c0eaea31-cdf2-423c-b67c-8fb4fce0e0e1",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9392cc39-6c22-41ca-977c-b4addf92038a",
              "mediaKey": "43bf9282-c52d-4cfa-83ae-fc89718a5114",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4df9e1bd-b8d3-40b0-ab76-d9122b94b873",
      "key": "031c7315-fc16-4c3a-98f9-80289c05c59b",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Light Gray",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c0eaea31-cdf2-423c-b67c-8fb4fce0e0e1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c0eaea31-cdf2-423c-b67c-8fb4fce0e0e1",
        "contentUdi": null,
        "settingsKey": "031c7315-fc16-4c3a-98f9-80289c05c59b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "3dd5156d-fc49-4f5f-8727-6d7175402995",
    "mediaKey": "326cd09d-093f-4542-8c65-4d574ae7de0c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>